@media (max-width: 800px) {
    header {
        flex-direction: column;
        justify-content: center;
        height: auto;
        row-gap: 1.5rem;
        padding: 1rem 0rem;
    }
}

@media (max-width: 575px) {
    header .logo {
        width: 80%;
    }
    .phone-no h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    header .phone-no h2 {
        font-size: 0.9rem;
    }
    header .phone-no h1 {
        font-size: 1.78rem;
    }
    header .phone-no p {
        font-size: 0.8rem;
        word-spacing: 0;
    }
}

@media (max-width: 800px) {
    nav .menu ul {
        float: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 0.5rem;
        gap: 1rem;
    }

    nav .menu ul li {
        padding: 0.8rem 0.8rem;
    }

    nav .menu ul li a {
        font-size: 0.95rem;
    }
}

@media (max-width: 500px) {
    nav {
        text-align: center;
    }

    nav .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 0.8rem 0;
    }

    nav .menu ul li {
        display: block;
        padding: 0.6rem 0;
    }

    nav .menu ul li a {
        font-size: 0.85rem;
    }
}


/* section-1 */
@media (max-width: 870px) {
    .section-1 .main-div {
        flex-direction: column;
    }
    .section-1 .main-div .main-left,
    .section-1 .main-div .main-right {
        width: 80%;
    }

    .section-1 .main-div .main-right{
        height: auto;
        padding-bottom: 1rem;
    }
}

@media (max-width: 715px) {
    .section-1 .main-div .main-right .bottom-div {
        flex-direction: column;
        margin-top: 0.5rem;
        gap: 0;
        row-gap: 0.3rem;
        padding-top: 0.7rem;
    }

    .section-1 .top-div .right h2 {
        font-size: 0.8rem;
    }

    .section-1 .top-div .right h2 span {
        font-size: 1rem;
    }

    .section-1 .top-div .left h1 {
        font-size: 1.1rem;
    }
    
}
@media (max-width: 900px) {
    .confidential {
        display: none;
    }

}
@media (max-width: 515px) {
    .section-1 .top-div .left,
    .section-1 .top-div .right {
        width: 50%;
        text-align: center;
    }

    .section-1 {
        margin-top: 1rem;
    }
    .section-1 .top-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        row-gap: 0.2rem;
        margin-top: 0.5rem;
        padding-bottom: 0.8rem;
    }
    .section-1 .main-div .main-left,
    .section-1 .main-div .main-right {
        width: 100%;
    }
    .section-1 .main-div {
        padding: 0rem 0rem;
    }
    .section-1 .main-div .main-right form {
        width: 95%;
        margin-left: 0.5rem;
    }

    .section-1 .main-div .main-right p {
        padding-left: 0.5rem;
    }

    .section-1 .main-div .main-right form textarea {
        width: 100%;
    }
    .section-1 .main-div .main-left {
        height: 300px;
    }
}

@media (max-width: 418px) {
    .section-1 .top-div .left,
    .section-1 .top-div .right {
        width: 80%;
    }
    .section-1 .main-div .main-left{
        height: 250px;
    }
    .section-1 .main-div .main-right .bottom-div {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 90%;
    }
    .section-1 .main-div .main-right .bottom-div .left,
    .section-1 .main-div .main-right .bottom-div .right {
        width: 100%;
        align-items: center;
    }

    .section-1 .main-div .main-right .bottom-div p {
        text-align: center;
    }

    .section-1 .main-div .main-right .bottom-div button {
        width: 100%;
        font-size: 0.8rem;
    }
}

/* section-2 */
@media (max-width: 980px) {
    .section-2 .main-div {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 4rem;
    }
    .section-2 .main-div .card {
        height: auto;
        padding-bottom: 1rem;
    }

    .section-2 .main-div .card {
        width: 80%;
    }

    .section-2 {
        margin-top: -2rem;
    }

    .section-3 .main-div .box1 h4,
    .section-3 .main-div .box1 h5 {
        display: none;
    }
}

@media (max-width: 500px) {
    .section-2 .main-div .card {
        width: 100%;
        padding: 1rem 0rem 1rem 0rem;
    }
    header .phone-no {
        padding: 0.8rem 0rem 0.8rem 0rem;
    }
    .section-2 {
        padding: 1.8rem 1rem;
    }

    .section-2 .main-div button,
    .section-3 .main-div .box3 button {
        width: 6rem;
    }

    .section-2 .main-div .card2 .left {
        text-align: center;
    }

    .section-2 .main-div .card2 .left p {
        padding-left: 0.1rem;
    }

    .section-2 .main-div .card3 {
        text-align: center;
    }

    .section-2 .main-div .card3 button {
        margin: 2rem auto;
    }

    .section-1 .main-div .main-right p {
        text-align: center;
        padding: 0rem 0.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .section-2 .main-div .card1 h1 {
        font-size: 1rem;
    }

    .section-2 .main-div .card1 h2,
    .section-2 .main-div .card3 h2,
    .section-2 .main-div .card2 h2,
    .section-3 .main-div .box2 h1,
    .section-3 .main-div .box3 .box3-child h2,
    .section-3 .main-div .box3 .box3-child h1,
    .section-3 .main-div .box1 h1 {
        font-size: 0.8rem;
    }

    .section-2 .main-div .card1 p,
    .section-2 .main-div .card3 p,
    .section-3 .main-div .box2 p,
    .section-3 .main-div .box3 .box3-child p,
    .section-2 .main-div .card2 p {
        font-size: 0.7rem;
    }

    .section-3 .main-div .box1 h1 {
        text-align: center;
    }
    .section-2 .main-div .card3 .top-box {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0.8rem;
        row-gap: 2rem;
        margin-top: -4.5rem;
        /* padding: 1rem 1rem; */
    }
    .section-3 .main-div .box3 .box3-child h1::after {
        width: 40%;
    }

    .section-3 .main-div .box3 .box3-child ul img {
        width: 20px;
    }
}

/* setion-3 */

@media (max-width: 830px) {
    .section-3 .main-div {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-3 .main-div .box1 {
        width: 100%;
        justify-content: center;
    }
    .section-3 .main-div .box2 {
        width: 100%;
        text-align: center;
    }
    .section-3 .main-div .box3 {
        width: 100%;
        justify-content: center;
    }

}

@media (max-width: 700px) {
    .section-3 .main-div .box1 {
        width: 100%;
        text-align: center;
    }
    .section-3 .main-div .box2 {
        width: 100%;
        text-align: center;
    }

    .section-3 .main-div .box3 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .section-3 .main-div .box3-child button {
        margin: 0.8rem auto;
    }

    .section-3 .main-div .box3 .box3-child .box-3-img {
        width: 100px;
        height: 100px;
    }
}