* {   
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

body {
    background: #686666;
    width: 100%;
}
.main-page {
    background-color: white;
    margin: 0 30px;
    border-bottom: 10px solid  #353434;
    border-bottom: 10px solid  #6c0404;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(150deg, #fff 75%, #babab9 100%);
    height: 140px;
    width: 100%;
}

header .logo {
    width: 50%;
    height: 100%;
}
header img {
    height: 100%;
    width: 100%;
}

header .phone-no {
    padding: 0.8rem 1.5rem 0.8rem 0rem;
}

header .phone-no h2 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-style: normal;
    color:#9d0303;
}

header .phone-no h2::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    display: block;
    margin-top: 0.1rem;
    background-color: gray;
}

header .phone-no h1 {
    font-size: 39px;
    letter-spacing: 0.1rem;
    font-weight: 800;
}

header .phone-no p {
    text-transform: capitalize;
    word-spacing: 0.2rem;
    letter-spacing: 0.2px;
    font-size: 1.05rem;
}

nav {
    background-color: #9d0303;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 2.8rem;
    position: relative;
}

nav .menu {
    width: 100%;
}
nav .menu ul {
    float: right;
    padding-right: 2.8rem;
}

nav .fa-solid {
    display: none;
}

nav .menu ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    transition: 0.3s linear;
}

/* nav .menu ul li:hover {
    background-color: #858585;
    color: #fff;
} */

nav .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

nav .menu .active {
    background-color: #858585;
}

.section-1 {
    width: 100%;
    margin-top: 3rem;
}
.section-1 .main-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0rem 1.5rem;
}

.section-1 .main-div .main-left,
.section-1 .main-div .main-right {
    width: 50%;
    height: 420px;
}

.section-1 .main-div .main-left img {
    width: 100%;
    height: 100%;
}

.section-1 .main-div .main-right {
    background-image: url('images/form_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-1 .top-div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.section-1 .top-div .left h1 {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #9d0303;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.section-1 .top-div .right h2 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    font-weight: bold;
}
.section-1 .top-div .right {
    width: 100%;
}

.section-1 .top-div .right h2 span {
    font-size: 2rem;
    color: rgb(25, 15, 118);
}

.section-1 .main-div .main-right p {
    padding-left: 2rem;
    padding-top: 0.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.section-1 .main-div .main-right p .p-span {
    font-weight: bold;
    font-size: 1.1rem;
}

.section-1 .main-div .main-right form {
    width: 70%;
    margin-left: 3rem;
    margin-top: 0.5rem;
    position: relative;
}

.section-1 .main-div .main-right .confidential {
    position: absolute;
    top: 63%;
    right: 8%;
    transform: rotate(20deg);
}

.section-1 .main-div .main-right form input {
    width: 60%;
    height: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.section-1 .main-div .main-right form .input-2 {
    margin-left: 0.7rem;
}

.section-1 .main-div .main-right form .input-3 {
    margin-left: 0.322rem;
}

.section-1 .main-div .main-right form textarea {
    width: 116%;
    padding-top: 0.3rem;
    margin-top: 0.5rem;
}

.section-1 .main-div .main-right form input,
.section-1 .main-div .main-right form textarea {
    border: 1PX SOLID rgb(137, 135, 135);
    padding-left: 0.3rem;
    outline: none;
}

/* .section-1 .main-div .main-right form input:focus,
.section-1 .main-div .main-right form textarea:focus {
    outline: none;
} */

.section-1 .main-div .main-right .bottom-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 0rem;
    width: 80%;
    margin-left: 3rem;
    margin-top: 0.8rem;
    gap: 1rem;
}

.section-1 .main-div .main-right .bottom-div button {
    width: 14rem;
    font-size: 1rem;
    border: 2px solid rgb(82, 2, 2);
    background-color: #9d0303;
    color: #fff;
    height: 2.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.section-1 .main-div .main-right .bottom-div p {
    opacity: 0.6;
    font-size: 0.9rem;
    font-style: italic;
    margin: 0;
    padding-left: 0;
}


.section-2 {
    padding: 1.8rem 3rem;
    margin-top: 2rem;
}

.section-2 .main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2 .main-div .card {
    width: 300px;
    height: 370px;
    padding: 1rem 1.5rem 0rem 1.5rem;
}

.section-2 .main-div .card1 .main-card {
    display: flex;
    justify-content: space-between;
}

.section-2 .main-div .card1 .main-card .left {
    width: 60%;
}

.section-2 .main-div .card1 .main-card .right {
    margin-top: 1rem;;
    width: 35%;
    height: 8rem;
}

.section-2 .main-div .card1 .card .right img {
    width: 100%;
    height: 100%;
}

.section-2 .main-div .card1 h1 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    padding-bottom: 0.4rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(98, 97, 97);
}

.section-2 .main-div .card1 h1 span {
    color: #9d0303;
    font-family: 'Times New Roman', Times, serif;
}

.section-2 .main-div .card1 h2 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: #9d0303;
    font-size: 1rem;
    word-spacing: 0.2rem;
    padding-bottom: 1rem;
}

.section-2 .main-div .main-card p {
    color: rgb(98, 97, 97);
}

.section-2 .main-div .card1 button {
    margin: 2.5rem 0rem 0rem 8rem;
}

.section-2 .main-div button,
.section-3 .main-div .box3 button {
    width: 8rem;
    height: 2rem;
    border: none;
    background-color:#9d0303;
    color: #fff;
    display: flex;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 3px 10px rgb(171, 171, 171);
    position: relative;
}

.section-2 .main-div button::before,
.section-3 .main-div .box3 button::before {
    content: '';
    width: 140%;
    height: 1px;
    background-color:rgb(98, 97, 97);
    position: absolute;
    top: 0;
    right: -15%;
}


.section-2 .main-div .card2 {
    width: 400px;
    border-left: 1px solid rgb(208, 208, 208);
    border-right: 1px solid rgb(208, 208, 208);
}

.section-2 .main-div .card2 .top-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
}

.section-2 .main-div .card2 .bottom-card {
    padding-top: 0.8rem;
}

.section-2 .main-div .card2 .top-card .left,
.section-2 .main-div .card2 .top-card .right {
    width: 55%;
}

.section-2 .main-div .card2 .top-card .right {
    width: 45%;
    height: 7rem;
}

.section-2 .main-div .card2.top-card .right img {
    width: 100%;
    height: 100%;
}

.section-2 .main-div .card2 h2,
.section-2 .main-div .card3 h2,
.section-3 .main-div .box3 h2 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color:rgb(98, 97, 97);
    padding-bottom: 0.4rem;
}

.section-2 .main-div .card2 span,
.section-2 .main-div .card3 span,
.section-3 .main-div .box3 span {
    font-family: 'Times New Roman', Times, serif;
    color: #9d0303;
}

.section-2 .main-div .card2 p,
.section-2 .main-div .card3 p,
.section-3 .main-div .box3 p,
.section-3 .main-div .box2 p {
    color: rgb(98, 97, 97);
}

.section-2 .card2 button {
    margin: 2.5rem 0rem 0rem 2.8rem;
}


.section-2 .main-div .card3 .top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 1.5rem 1rem;
}

.section-2 .main-div .card3 button {
    margin: 2rem 0rem 0rem 8rem;
}

.section-3 {
    padding: 3.5rem 1rem;
   
}

.section-3 .main-div h1 {
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0rem;
    color: rgb(98, 97, 97);
    text-transform: uppercase;
    font-size: 1.6rem;
}

.section-3 .main-div .box1 h4 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: rgb(98, 97, 97);
    font-size: 1.5rem;
    width: 130%;
    margin-top: 2rem;
}

.section-3 .main-div .box1 h5 {
    text-transform: uppercase;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: rgb(98, 97, 97);
    text-align: center;
    opacity: 0.3;
}

.section-3 .main-div .box1 span {
    font-family: 'Times New Roman', Times, serif;
    color: #9d0303;
}

.section-3 .main-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.section-3 .main-div .box1{
    width: 25%;
    margin-left: 1%;
}
.section-3 .main-div .box1 .butt{
    margin-left: 4%;
}
.section-3 .main-div .box1 .child-div {
    width: 15rem;
    height: 4rem;
    position: relative;
    box-shadow: 0 4px 6px gray;
    background-color:rgb(122, 120, 120);
    border-left: 10px solid #510101;
    color: #fff;
    margin-top: 1.5rem;
    padding: 0.2rem 0.8rem;
}

.section-3 .main-div .box1 .child-div h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1px;
}

.section-3 .main-div .box1 .child-div button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    right: 10%;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.section-3 .main-div .box2 h1 {
    padding-bottom: 1.8rem;
    text-transform: uppercase;
}

.section-3 .main-div .box2 {
    width: 45%;
}

.section-3 .main-div .box3 #top {
    margin-top: 0rem;
}
.section-3 .main-div .box3 .box3-child {
    margin-top: 2rem;
}

.section-3 .main-div .box2 p {
    line-height: 1.9rem;
}

.section-3 .main-div .box3 ul li {
    list-style: none;
    display: inline-block;
    margin: 0rem 0.3rem;
}

.section-3 .main-div .box3 {
    width: 25%;
    padding-left: 2rem;
    text-align: center;
}

.section-3 .main-div .box3 button {
    margin-top: 1.5rem;
    margin-left: 3.5rem;
}
.section-3 .main-div .box3 .box3-child h1 {
    position: relative;
    margin-bottom: 1.5rem;
    color: rgb(98, 97, 97);
}

.section-3 .main-div .box3 .box3-child h1::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 2px;
    background-color: gray;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
    display: block;
}


